/* css reset */

* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1.2em;
}

body {background-color: #ffffff}

.navbar {
    width: 100%;
    background-color: rgba(227, 8, 0, 1);
    overflow:auto;
}

.navbar a {
    float:left;
    padding: 22px;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    width: 16.66%;
    text-align: center;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

.topnav a{
    float:left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

.navbar a:hover {
    color: black;
}

.flex-container-backround-image {
    background-image: url(/images/vector1.png);
    display:flex;
    justify-content: center;
    align-items: center;
}

.how-did {
    position: absolute;
    top: 18%;
    left: 33%;
    color: #ffffff;
    font-size: 48px;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

.saul-bass {
    position: absolute;
    top: 28%;
    left: 27%;
    color: rgba(227, 8, 0, 1);
    font-size: 48px;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

.transcend {
    position: absolute;
    top: 38%;
    left: 25%;
    color: #ffffff;
    font-size: 48px;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

.the {
    position: absolute;
    top: 48%;
    left: 37.5%;
    color: #ffffff;
    font-size: 48px;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

.boundaries {
    position: absolute;
    top: 49%;
    left: 55%;
    color: #ffffff;
    font-size: 48px;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

.of-design {
    position: absolute;
    top: 59%;
    left: 55%;
    color: #ffffff;
    font-size: 48px;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

.in-cinema {
    position: absolute;
    top: 69%;
    left: 62%;
    color: #ffffff;
    font-size: 48px;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

h1 {
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
  }

.color-block {
    background-color: rgba(19, 17, 19, 1);
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    width: 100vw;
}

.flex-container-color-block {
    display:flex;
    justify-content: center;
    align-items: center;
}

.intro {
    color: rgba(227, 8, 0, 1);
    font-size: 48px;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 50;
    letter-spacing: 4%;
    margin-left: 80px;
    margin-top: 0px;
    padding-top: 50px;
}

.intro-para {
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 2%;
    margin-left: 168px;
    margin-right: 168px;
    margin-top: 80px;
}

.container {
    position: relative;
}

.overlay {
    position: absolute;
    color: #ffffff;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    top: 28%;
    left: 75%;
}

.overlay-2 {
    position: absolute;
    color: #ffffff;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    top: 68%;
    left: 75%;
}

.saul-bass-subhead, .film-poster-revolution, .title-sequences-subtitle {
    color: rgba(227, 8, 0, 1);
    font-size: 48px;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 50;
    letter-spacing: 4%;
    margin-left: 80px;
    margin-top: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.bass-portrait-container {
    margin-top: 30px;
    margin-bottom: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.about-bass-para, .about-bass-para-2 {
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 2%;
    margin-left: 168px;
    margin-right: 168px;
    margin-top: 80px;
    margin-bottom: 40px;
}

.poster-para-1 {
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 2%;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 168px;
    margin-right: 168px;
}

.poster-para-2 {
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 2%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.poster-para-3, .poster-para-4, .poster-para-5 {
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 2%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.about-bass-quote {
    color: rgba(227, 8, 0, 1);
    font-size: 40px;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2%;
    line-height: 80px;
    margin-left: 68px;
    margin-right: 168px;
    margin-top: 100px;
    margin-bottom: 40px;
}


.about-bass-quote-line {
    border-left: 5px solid rgba(227, 8, 0, 1);
    height: 100px;
    margin-left: 100px;
    display:flex;
    justify-content: left;
    align-items: center;
    padding-bottom: 80px;
    margin-bottom: 0px;
}

.colour-block-red {
    border-left: 42px solid rgba(227, 8, 0, 1);
    margin-bottom: 0px;
    margin-left: 70px;
    margin-top: 0px;
    height: 480px;
    margin-right: 0px;
}

.colour-block-red-2 {
    border-left: 42px solid rgba(227, 8, 0, 1);
    margin-bottom: 0px;
    margin-left: 70px;
    margin-top: 0px;
    height: 300px;
    margin-right: 0px;
    height: 1450px;
}

.container-posters {
    position: relative;
}

.overlay-posters {
    position: absolute;
    color: #ffffff;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    top: 38%;
    left: 50%;
}

.row {
    display: flex;
    padding-inline: 1px;
}

.column {
    flex: 33.33%;
    display:flex;
    padding-inline: 1px;
    margin-left: 168px;
}

.vertigo {
    margin-right: -70px;
}

.anatomy-of-a-murder {
    margin-left: -73px;
}

.such-good-friends {
    margin-left: -160px;
}

.poster-line {
    border-left: 5px solid rgba(227, 8, 0, 1);
    height: 140px;
    margin-bottom: 0rem;
    margin-left: -72px;
    padding-right: 40px;
    display:flex;
    justify-content: left;
    align-items: center;
    padding-bottom: 80px;
    margin-bottom: 80px;
}

.colour-block-red-3 {
    border-left: 42px solid rgba(227, 8, 0, 1);
    margin-bottom: 0px;
    margin-left: 70px;
    margin-top: 0px;
    margin-right: 0px;
    height: 1600px;
}

.container-sequences {
   position: relative;
}

.title-component {
    width: 100vw;
    border-left: 0;
}

.how-did-2 {
    position: absolute;
    color: #ffffff;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    top: 8%;
    left: 31%;
}

.saul-bass-2 {
    position: absolute;
    color: rgba(227, 8, 0, 1);
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    top: 13%;
    left: 38%;
}

.inspire-modern-2 {
    position: absolute;
    color: #ffffff;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    top: 18%;
    left: 31%;
}

.film-title-2 {
    position: absolute;
    color: #ffffff;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    top: 23%;
    left: 38%;
}

.sequences-2 {
    position: absolute;
    color: #ffffff;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    top: 28%;
    left: 31%;
}

.sequences-quote {
    position: absolute;
    color: #ffffff;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    line-height: 50px;
    top: 50%;
    left: 31%;
    margin-right: 375px;
}

.colour-block-red-4 {
    border-left: 42px solid rgba(227, 8, 0, 1);
    margin-bottom: 0px;
    margin-left: 70px;
    margin-top: 0px;
    height: 2350px;
}

.title-sequence-opening-para {
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 2%;
    line-height: 80px;
    margin-left: 168px;
    margin-right: 168px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.title-sequences-paras {
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 2%;
    line-height: 80px;
    margin-left: 168px;
    margin-right: 168px;
    margin-top: 30px;
    margin-bottom: 80px;
}

.title-sequence-column {
    display:flex;
    margin-left: 168px;
}

.psycho-title {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.vertigo-title {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.title-sequences-quote {
    color: rgba(227, 8, 0, 1);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 200;
    letter-spacing: 2%;
    line-height: 80px;
    margin-left: 70px;
    margin-right: 168px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.title-sequences-line {
    border-left: 5px solid rgba(227, 8, 0, 1);
    height: 180px;
    margin-bottom: 0rem;
    margin-left: 100px;
    margin-top: 0;
    display:flex;
    justify-content: center;
    align-items: center;
}

.container-conclusion {
    position: relative;
}

.overlay-conclusion {
    position: absolute;
    color: #ffffff;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    top: 50%;
    left: 45%;
}

.conclusion-para {
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    letter-spacing: 2%;
    line-height: 80px;
    margin-left: 168px;
    margin-right: 168px;
    margin-top: 0px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.colour-block-red-5 {
    border-left: 42px solid rgba(227, 8, 0, 1);
    margin-bottom: 0px;
    margin-left: 70px;
    margin-top: 0px;
    height: 540px;
}

.colour-block-black-6 {
    color: black;
    background-color: black;
    width: 100vw;
    height: 1000px;
}

.bibliography {
    position: absolute;
    color: #ffffff;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    margin-left: 185px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.websites-refs {
    position: absolute;
    color: rgba(227, 8, 0, 1);
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    margin-left: 185px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 140px;
    padding-right: 300px;
}

.images-refs {
    position: absolute;
    color: rgba(227, 8, 0, 1);
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    margin-left: 400px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 140px;
    padding-left: 500px;
}

.mail {
    margin-left: 560px;
}

.insta {
    display:flex;
    justify-content: center;
    align-items: center;
}

.twitter {
    margin-left: 1400px;
}

.credit {
    position: absolute;
    color: #ffffff;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    margin-left: 185px;
    padding-top: 100px;
    padding-bottom: 100px;
}

#myBtn {
    display: none;
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none;
    outline: none; 
    background-color: rgba(227, 8, 0, 1); 
    color: white; 
    cursor: pointer; 
    padding: 16px; 
    border-radius: 10px; 
    font-size: 21px; 
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 8%;
  }

#myBtn:hover {
    background-color: rgb(49, 49, 49);
}

.color-block {
    width: 100%;
    height: auto;
  }

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
    }
}

/* Extra small devices (small phones, 320px and down) */
@media only screen and (max-width: 320px) {

}

/* Small devices (portrait tablets and large phones, 425px and down) */
@media only screen and (max-width: 425px) {

}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {

}

/* Large devices (laptops/desktops, 1024px and down) */
@media only screen and (max-width: 1024px) {
    
}

/* Extra large devices (large laptops and desktops, 1440px and down) */
@media only screen and (max-width: 1440px) {
    .of-design {
        top: 59%;
        left: 60%;
    }

    .boundaries {
        top: 49%;
        left: 54%;
    }

    .how-did {
        top: 18%;
        left: 30%;
    }
    
    .saul-bass {
        top: 28%;
        left: 26%;
    }
    
    .transcend {
        top: 38%;
        left: 24%;
    }
    
    .the {
        top: 48%;
        left: 37%;
    }
    
    .in-cinema {
        top: 69%;
        left: 62%;
    }

    .sequences-quote {
        top: 50%;
        left: 31%;
        margin-right: 300px;
    }

}