/* css reset */

* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1.2em;
}

body {background-color: #ffffff}

.navbar {
    width: 100%;
    background-color: rgba(227, 8, 0, 1);
    overflow:auto;
}

.navbar a {
    float:left;
    padding: 22px;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    width: 16.66%;
    text-align: center;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

.navbar a:hover {
    color: black;
}

.flex-container-backround-image {
    background-image: url(/images/vector1.png);
    display:flex;
    justify-content: center;
    align-items: center;
}

.how-did {
    position: absolute;
    top: 18%;
    left: 33%;
    color: #ffffff;
    font-size: 48px;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

.saul-bass {
    position: absolute;
    top: 28%;
    left: 27%;
    color: rgba(227, 8, 0, 1);
    font-size: 48px;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

.transcend {
    position: absolute;
    top: 38%;
    left: 25%;
    color: #ffffff;
    font-size: 48px;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

.the {
    position: absolute;
    top: 48%;
    left: 37.5%;
    color: #ffffff;
    font-size: 48px;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

.boundaries {
    position: absolute;
    top: 49%;
    left: 55%;
    color: #ffffff;
    font-size: 48px;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

.of-design {
    position: absolute;
    top: 59%;
    left: 55%;
    color: #ffffff;
    font-size: 48px;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

.in-cinema {
    position: absolute;
    top: 69%;
    left: 62%;
    color: #ffffff;
    font-size: 48px;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

h1 {
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
  }

.color-block {
    background-color: rgba(19, 17, 19, 1);
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    width: 100vw;
}

.flex-container-color-block {
    display:flex;
    justify-content: center;
    align-items: center;
}

.intro {
    color: rgba(227, 8, 0, 1);
    font-size: 48px;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 50;
    letter-spacing: 4%;
    margin-left: 80px;
    margin-top: 0px;
    padding-top: 50px;
}

.intro-para {
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 2%;
    margin-left: 168px;
    margin-right: 168px;
    margin-top: 80px;
}

.container {
    position: relative;
}

.overlay {
    position: absolute;
    color: #ffffff;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    top: 28%;
    left: 75%;
}

.overlay-2 {
    position: absolute;
    color: #ffffff;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    top: 68%;
    left: 75%;
}

.saul-bass-subhead, .film-poster-revolution, .title-sequences-subtitle {
    color: rgba(227, 8, 0, 1);
    font-size: 48px;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 50;
    letter-spacing: 4%;
    margin-left: 80px;
    margin-top: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.bass-portrait-container {
    margin-top: 30px;
    margin-bottom: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.about-bass-para {
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 2%;
    margin-left: 168px;
    margin-right: 168px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.about-bass-para-2 {
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 2%;
    margin-left: 168px;
    margin-right: 168px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.poster-para-1 {
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 2%;
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: 168px;
    margin-right: 168px;
}

.poster-para-2 {
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 2%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.poster-para-3, .poster-para-4, .poster-para-5 {
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 2%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.about-bass-quote, .title-sequences-quote {
    color: rgba(227, 8, 0, 1);
    font-size: 40px;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2%;
    line-height: 80px;
    margin-left: 68px;
    margin-right: 168px;
    margin-top: 100px;
    margin-bottom: 40px;
}

.about-bass-quote-line, .title-sequences-line {
    border-left: 5px solid rgba(227, 8, 0, 1);
    height: 100px;
    margin-left: 100px;
    display:flex;
    justify-content: left;
    align-items: center;
    padding-bottom: 80px;
    margin-bottom: 0px;
}

.colour-block-red {
    border-left: 42px solid rgba(227, 8, 0, 1);
    margin-bottom: 0px;
    margin-left: 70px;
    margin-top: 0px;
    height: 480px;
    margin-right: 0px;
}

.colour-block-red-2 {
    border-left: 42px solid rgba(227, 8, 0, 1);
    margin-bottom: 0px;
    margin-left: 70px;
    margin-top: 0px;
    height: 300px;
    margin-right: 0px;
    height: 1450px;
}

.container-posters {
    position: relative;
}

.overlay-posters {
    position: absolute;
    color: #ffffff;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    top: 38%;
    left: 50%;
}

.row {
    display: flex;
    padding-inline: 1px;
}

.column {
    flex: 33.33%;
    display:flex;
    padding-inline: 1px;
    margin-left: 168px;
}

.vertigo {
    margin-right: -70px;
}

.anatomy-of-a-murder {
    margin-left: -73px;
}

.the-golden-arm {
    margin-left: -160px;
}

.poster-line {
    border-left: 5px solid rgba(227, 8, 0, 1);
    height: 140px;
    margin-bottom: 0rem;
    margin-left: -72px;
    padding-right: 40px;
    display:flex;
    justify-content: left;
    align-items: center;
    padding-bottom: 80px;
    margin-bottom: 80px;
}

.colour-block-red-3 {
    border-left: 42px solid rgba(227, 8, 0, 1);
    margin-bottom: 0px;
    margin-left: 70px;
    margin-top: 0px;
    margin-right: 0px;
    height: 1600px;
}

.container-sequences {
   position: relative;
}

.title-component {
    width: 100vw;
    border-left: 0;
}

.how-did-2 {
    position: absolute;
    color: #ffffff;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    top: 8%;
    left: 31%;
}

.saul-bass-2 {
    position: absolute;
    color: rgba(227, 8, 0, 1);
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    top: 13%;
    left: 38%;
}

.redefine-2 {
    position: absolute;
    color: #ffffff;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    top: 18%;
    left: 31%;
}

.film-title-2 {
    position: absolute;
    color: #ffffff;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    top: 23%;
    left: 38%;
}

.sequences-2 {
    position: absolute;
    color: #ffffff;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    top: 28%;
    left: 31%;
}

.sequences-quote {
    position: absolute;
    color: #ffffff;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    line-height: 50px;
    top: 50%;
    left: 31%;
    margin-right: 375px;
}

.sequences-quote-credit {
    position: absolute;
    color: #ffffff;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    line-height: 50px;
    top: 65%;
    left: 31%;
    margin-right: 375px;
}

.colour-block-red-4 {
    border-left: 42px solid rgba(227, 8, 0, 1);
    margin-bottom: 0px;
    margin-left: 70px;
    margin-top: 0px;
    height: 4650px;
}

.title-sequence-opening-para {
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 2%;
    line-height: 80px;
    margin-left: 168px;
    margin-right: 168px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.title-sequence-opening-para-2 {
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 2%;
    line-height: 80px;
    margin-left: 168px;
    margin-right: 168px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.title-sequences-para-1, .title-sequences-para-3, .title-sequences-para-5 {
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 2%;
    line-height: 80px;
    margin-left: 168px;
    margin-right: 168px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.title-sequences-para-2, .title-sequences-para-4, .title-sequences-para-6 {
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 2%;
    line-height: 80px;
    margin-left: 168px;
    margin-right: 168px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.title-sequence-column {
    display:flex;
    margin-left: 168px;
}

.golden-arm-title, .vertigo-title, .psycho-title {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container-conclusion {
    position: relative;
}

.overlay-conclusion {
    position: absolute;
    color: #ffffff;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    top: 50%;
    left: 45%;
}

.conclusion-para {
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 2%;
    line-height: 80px;
    margin-left: 168px;
    margin-right: 168px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.colour-block-red-5 {
    border-left: 42px solid rgba(227, 8, 0, 1);
    margin-bottom: 0px;
    margin-left: 70px;
    margin-top: 0px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colour-block-black-6 {
    color: black;
    background-color: black;
    width: 100vw;
    height: 2100px;
    margin-top: 0px;
}

.bibliography {
    position: absolute;
    color: #ffffff;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    margin-left: 185px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.websites-refs {
    position: absolute;
    color: rgba(227, 8, 0, 1);
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    margin-left: 185px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 140px;
    margin-right: 1000px;
}

.images-refs {
    position: absolute;
    color: rgba(227, 8, 0, 1);
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    margin-left: 185px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 1000px;
}

.website-list {
    color: #ffffff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 2%;
    margin-left: 185px;
    margin-right: 168px;
    margin-top: 0px;
    margin-bottom: 60px;
    padding-top: 350px;
}

.image-list {
    color: #ffffff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 2%;
    margin-left: 185px;
    margin-right: 168px;
    margin-top: 240px;
    margin-bottom: 60px;
}

.italics {
    color: #ffffff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 2%;
    font-style: italic;
    display: inline;
}

.media-red {
    display: flex;
    justify-content: space-between;
    margin-inline: 600px;
}

.credit {
    color: #ffffff;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
    padding-top: 150px;
    padding-bottom: 100px;
    display:flex;
    justify-content: center;
    text-align: center;
}

#myBtn {
    display: none;
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none;
    outline: none; 
    background-color: rgba(227, 8, 0, 1); 
    color: white; 
    cursor: pointer; 
    padding: 16px; 
    border-radius: 10px; 
    font-size: 21px; 
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 8%;
  }

#myBtn:hover {
    background-color: rgb(49, 49, 49);
}

.color-block {
    width: 100%;
    height: auto;
  }


/* 4K devices (2560px and up) */
@media only screen and (min-width: 2560px) {
    .how-did, .saul-bass, .transcend, .the, .boundaries, .of-design, .in-cinema, .how-did-2, .saul-bass-2, .redefine-2, .film-title-2, .sequences-2 {
        font-size: 100px;
    }

    .film-title-2 {
        left: 33%;
    }

    .how-did {
        top: 11%;
        left: 27%;
    }
    
    .saul-bass {
        top: 20%;
        left: 22%;
    }
    
    .transcend {
        top: 30%;
        left: 20%;
    }
    
    .the {
        top: 39%;
        left: 34%;
    }
    
    .boundaries {
        top: 39%;
        left: 56%;
    }
    
    .of-design {
        top: 49%;
        left: 63%;
    }
    
    .in-cinema {
        top: 59%;
        left: 62%;
    }

    .navbar a {
        padding: 40px;
        font-size: 40px;
        width: 16.66%;
    }

    #myBtn {
        padding: 25px; 
        border-radius: 20px; 
        font-size: 40px; 
        letter-spacing: 8%;
    }

    .intro-para, .about-bass-para, .about-bass-para-2, .poster-para-1, .poster-para-2, .poster-para-3, .poster-para-4, .poster-para-5, .title-sequence-opening-para, .title-sequence-opening-para-2, .title-sequences-para-1, .title-sequences-para-2, .title-sequences-para-3, .title-sequences-para-4, .title-sequences-para-5, .title-sequences-para-6, .conclusion-para {
        font-size: 38px;
    }

    .colour-block-red {
        height: 600px;
    }

    .intro, .saul-bass-subhead, .film-poster-revolution, .title-sequences-subtitle {
        font-size: 60px;
    }

    .overlay, .overlay-2, .overlay-posters, .overlay-conclusion {
        font-size: 100px;
    }

    .images-refs {
        margin-top: 1100px;
    }

    .media-red {
        display: flex;
        justify-content: space-between;
        margin-inline: 800px;
    }

    .colour-block-red-2 {
        height: 2000px;
    }

    .colour-block-red-3 {
        height: 2200px;
    }

    .about-bass-quote, .title-sequences-quote {
        font-size: 60px;
    }
    
    .about-bass-quote-line, .title-sequences-line {
        height: 150px;
    }

    .colour-block-red-4 {
        height: 6000px;
    }

    .colour-block-red-5 {
        height: 700px;
    }

    .sequences-quote {
        font-size: 80px;
    }

    .sequences-quote-credit {
        font-size: 40px;
    }

    .website-list, .image-list, .italics {
        font-size: 30px;
    }
}

/* 4K devices (2560px and up) */
@media only screen and (min-width: 2000px) {
    .how-did, .saul-bass, .transcend, .the, .boundaries, .of-design, .in-cinema, .how-did-2, .saul-bass-2, .redefine-2, .film-title-2, .sequences-2 {
        font-size: 100px;
    }

    .film-title-2 {
        left: 33%;
    }

    .how-did {
        top: 11%;
        left: 27%;
    }
    
    .saul-bass {
        top: 20%;
        left: 22%;
    }
    
    .transcend {
        top: 30%;
        left: 20%;
    }
    
    .the {
        top: 39%;
        left: 34%;
    }
    
    .boundaries {
        top: 39%;
        left: 56%;
    }
    
    .of-design {
        top: 49%;
        left: 63%;
    }
    
    .in-cinema {
        top: 59%;
        left: 62%;
    }

    .navbar a {
        padding: 40px;
        font-size: 40px;
        width: 16.66%;
    }

    #myBtn {
        padding: 25px; 
        border-radius: 20px; 
        font-size: 40px; 
        letter-spacing: 8%;
    }

    .intro-para, .about-bass-para, .about-bass-para-2, .poster-para-1, .poster-para-2, .poster-para-3, .poster-para-4, .poster-para-5, .title-sequence-opening-para, .title-sequence-opening-para-2, .title-sequences-para-1, .title-sequences-para-2, .title-sequences-para-3, .title-sequences-para-4, .title-sequences-para-5, .title-sequences-para-6, .conclusion-para {
        font-size: 38px;
    }

    .colour-block-red {
        height: 600px;
    }

    .intro, .saul-bass-subhead, .film-poster-revolution, .title-sequences-subtitle {
        font-size: 60px;
    }

    .overlay, .overlay-2, .overlay-posters, .overlay-conclusion {
        font-size: 100px;
    }

    .images-refs {
        margin-top: 1100px;
    }

    .media-red {
        display: flex;
        justify-content: space-between;
        margin-inline: 800px;
    }

    .colour-block-red-2 {
        height: 2000px;
    }

    .colour-block-red-3 {
        height: 2200px;
    }

    .about-bass-quote, .title-sequences-quote {
        font-size: 60px;
    }
    
    .about-bass-quote-line, .title-sequences-line {
        height: 150px;
    }

    .colour-block-red-4 {
        height: 6000px;
    }

    .colour-block-red-5 {
        height: 700px;
    }

    .sequences-quote {
        font-size: 80px;
    }

    .sequences-quote-credit {
        font-size: 40px;
    }

    .website-list, .image-list, .italics {
        font-size: 30px;
    }

    .sequences-quote-credit {
        margin-top: 160px;
    }
}

/* 4K devices (2400px and down) */
@media only screen and (max-width: 2400px) {
    .navbar a {
        padding: 35px;
        font-size: 30px;
        width: 16.66%;
    }

    .how-did, .saul-bass, .transcend, .the, .boundaries, .of-design, .in-cinema, .how-did-2, .saul-bass-2, .redefine-2, .film-title-2, .sequences-2 {
        font-size: 80px;
    }

    .sequences-quote-credit {
        margin-top: 260px;
    }

    .sequences-quote {
        font-size: 50px;
    }
}

/* 4K devices (2098px and down) */
@media only screen and (max-width: 2098px) {
    .navbar a {
        padding: 30px;
        font-size: 26px;
        width: 16.66%;
    }

    .how-did, .saul-bass, .transcend, .the, .boundaries, .of-design, .in-cinema, .how-did-2, .saul-bass-2, .redefine-2, .film-title-2, .sequences-2 {
        font-size: 65px;
    }

    
    .how-did {
        top: 11%;
        left: 32%;
    }
    
    .saul-bass {
        top: 20%;
        left: 26%;
    }
    
    .transcend {
        top: 30%;
        left: 25%;
    }
    
    .the {
        top: 39%;
        left: 35%;
    }

    .boundaries {
        top: 35%;
        left: 56%;
    }
    
    .of-design {
        top: 45%;
        left: 63%;
    }
    
    .in-cinema {
        top: 55%;
        left: 62%;
    }

    .sequences-quote-credit {
        margin-top: 200px;
    }
}

/* 4K devices (2008px and down) */
@media only screen and (max-width: 2008px) {
    .how-did, .saul-bass, .transcend, .the, .boundaries, .of-design, .in-cinema, .how-did-2, .saul-bass-2, .redefine-2, .film-title-2, .sequences-2 {
        font-size: 45px;
    }

    .how-did {
        top: 11%;
        left: 36%;
    }

    .saul-bass {
        top: 20%;
        left: 30%;
    }
    
    .transcend {
        top: 30%;
        left: 30%;
    }

    .sequences-quote-credit {
        margin-top: 200px;
    }
}


/* Extra Large devices (1800px and down) */
@media only screen and (max-width: 1800px) {
    .how-did, .saul-bass, .transcend, .the, .boundaries, .of-design, .in-cinema, .how-did-2, .saul-bass-2, .redefine-2, .film-title-2, .sequences-2 {
        font-size: 40px;
    }

    .how-did {
        top: 11%;
        left: 36%;
    }

    .saul-bass {
        top: 18%;
        left: 30%;
    }
    
    .transcend {
        top: 25%;
        left: 30%;
    }

    .the {
        top: 33%;
        left: 35%;
    }

    .boundaries {
        top: 33%;
        left: 56%;
    }
    
    .of-design {
        top: 40%;
        left: 63%;
    }
    
    .in-cinema {
        top: 47%;
        left: 62%;
    }

    .navbar a {
        padding: 26px;
        font-size: 20px;
        width: 16.66%;
    }
}

/* Extra Large devices (1618px and down) */
@media only screen and (max-width: 1618px) {
    .how-did, .saul-bass, .transcend, .the, .boundaries, .of-design, .in-cinema, .how-did-2, .saul-bass-2, .redefine-2, .film-title-2, .sequences-2 {
        font-size: 40px;
    }

    .how-did {
        top: 11%;
        left: 33%;
    }

    .saul-bass {
        top: 16.5%;
        left: 30%;
    }
    
    .transcend {
        top: 22%;
        left: 27%;
    }

    .the {
        top: 28%;
        left: 35%;
    }

    .boundaries {
        top: 28%;
        left: 55%;
    }
    
    .of-design {
        top: 37%;
        left: 63%;
    }
    
    .in-cinema {
        top: 44%;
        left: 62%;
    }

    .navbar a {
        padding: 20px;
        font-size: 16px;
        width: 16.66%;
    }
}

/* Extra Large devices (1550px and down) */
@media only screen and (max-width: 1550px) {
    .how-did, .saul-bass, .transcend, .the, .boundaries, .of-design, .in-cinema, .how-did-2, .saul-bass-2, .redefine-2, .film-title-2, .sequences-2 {
        font-size: 40px;
    }

    .how-did {
        top: 11%;
        left: 30%;
    }

    .saul-bass {
        top: 16.5%;
        left: 27%;
    }
    
    .transcend {
        top: 22%;
        left: 27%;
    }

    .the {
        top: 28%;
        left: 35%;
    }

    .boundaries {
        top: 28%;
        left: 55%;
    }
    
    .of-design {
        top: 34%;
        left: 63%;
    }
    
    .in-cinema {
        top: 40%;
        left: 62%;
    }
}

/* Extra large devices (large laptops and desktops, 1440px and down) */
@media only screen and (max-width: 1440px) {
    .how-did, .saul-bass, .transcend, .the, .boundaries, .of-design, .in-cinema, .how-did-2, .saul-bass-2, .redefine-2, .film-title-2, .sequences-2 {
        font-size: 36px;
    }

    .sequences-quote-credit {
        margin-top: 120px;
    }

    .how-did {
        top: 8%;
        left: 35%;
    }

    .saul-bass {
        top: 13%;
        left: 28%;
    }
    
    .transcend {
        top: 18%;
        left: 27%;
    }

    .the {
        top: 23%;
        left: 35%;
    }

    .boundaries {
        top: 26%;
        left: 55%;
    }
    
    .of-design {
        top: 32%;
        left: 63%;
    }
    
    .in-cinema {
        top: 38%;
        left: 62%;
    }

    .colour-block-red-3 {
        height: 1700px;
    }
}

/* Large devices (large laptops and desktops, 1355px and down) */
@media only screen and (max-width: 1355px) {
    .how-did, .saul-bass, .transcend, .the, .boundaries, .of-design, .in-cinema, .how-did-2, .saul-bass-2, .redefine-2, .film-title-2, .sequences-2 {
        font-size: 36px;
    }

    .colour-block-red-4 {
        height: 5000px;
    }
 
}  
   